# Dependencies
node_modules/

# Local Database Files
database.sqlite
database.json
scores.json
*.sqlite
*.sqlite3
*.db

# Logs & Temp Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Environment
.DS_Store
Thumbs.db
.env
